extends layout

block content
  h1(class="header") Simple chatRoom
  div(class="center")
    if (user)
      body
        div
          div
            //ventana de chat
            p #{user.username} 
              a(href="/logout")
                button.btn.btn-simple 
                  i(class="fa fa-sign-out" aria-hidden="true") salir
                  
            div(id="mensajes")
            div(class="panel-footer")
          div
            input(id="chat_input" placeholder="type...")

  script.
    var jDoc = $(document);
    var user = !{JSON.stringify(user)};
    var messages = !{JSON.stringify(messages)};
    jDoc.metaData.user=user
    jDoc.metaData.messages=messages
